<header>
  <nav id="fp-nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo noselect">
        <img class="zicon" src="https://zoff.me/assets/images/squareicon_small.png" alt="Zoff" title="Zoff" />
      </a>
      <ul class="right">
        <li><a class="header-buttons waves-effect waves-cyan" id="logout" title="Logout" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
<main class="container center-align admin_panel">
  <h1>
    {{user.channel}}
  </h1>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="e.g. weekly" id="zoffchannel" type="text" class="validate" value="{{user.zoffchannel}}">
      <label for="zoffchannel">Zoff Channel-name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="e.g. 1" id="time" type="number" class="validate" value="{{user.time}}">
      <label for="time">GMT+0 time-offset</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="" id="adminpass" type="password" class="validate" value="{{user.adminpass}}">
      <label for="adminpass">Admin-password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input placeholder="" id="userpass" type="password" class="validate" value="{{user.userpass}}">
      <label for="userpass">Channel-password</label>
    </div>
  </div>
  <div class="row">
      <label for="moderate" class="col s8 moderate-label">Moderate chat for urls, and timeout unauthorized posting</label>
      <div class="switch">
        <label>
          Off
          <input type="checkbox" id="moderate" {{#if user.moderate}}checked{{/if}}>
          <span class="lever"></span>
          On
        </label>
    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn red col s2 offset-s7" id="delete-data-button">
      <i class="material-icons left">remove</i>delete
    </a>
    <a class="waves-effect waves-light btn orange col s2 offset-s1" id="save-data-button">
      <i class="material-icons left">cloud</i>submit
    </a>
  </div>
  <br><br><br>
  <div class="row">
    <span class="col s8">Program for writing current playing to file (created with <a href="https://www.pyinstaller.org/">PyInstaller</a>): </span><a href="/assets/program/dist/zoff-twitch-song.exe" class="waves-effect waves-light btn red col s4">Download</a>
  </div>
  <div class="row">
    <span class="col s8">Here is the python program if you want to run it from console: </span><a href="/assets/program/program.py" class="waves-effect waves-light btn red col s4">Download</a>
  </div>
  <br><br><br>
  <div class="command-container">
    {{#each user.commands}}
    <div class="row container-{{this.key}}">
      <div class="input-field col s3">
        <input disabled id="key-{{this.key}}" type="text" class="validate" value="{{this.key}}">
        <label for="key-{{this.key}}" >Command</label>
      </div>
      <div class="input-field col s7">
        <input id="value-{{this.key}}" type="text" class="validate" value="{{this.value}}">
        <label for="value-{{this.key}}">Response</label>
      </div>
      <a class="waves-effect waves-light btn red col s1 delete-command-button delete-command-key-{{this.key}}" data-for-key="{{this.key}}">
        <i class="material-icons">remove</i>
      </a>
      <a class="waves-effect waves-light btn green col s1 save-command-button save-command-key-{{this.key}}" data-for-key="{{this.key}}">
        <i class="material-icons">check</i>
      </a>
    </div>
    {{/each}}
  </div>
  <a class="waves-effect waves-light btn green col s12" id="add-new-command-button">
    <i class="material-icons left">add</i>Add new command
  </a>
  <br><br>
  <div style="display:none;" id="new-command-template">
    <div class="row">
      <div class="input-field col s3">
        <input id="key-" type="text" class="validate" value="">
        <label for="key-" class="label-key">Command</label>
      </div>
      <div class="input-field col s7">
        <input id="value-" type="text" class="validate" value="">
        <label for="value-" class="label-value">Response</label>
      </div>
      <a class="waves-effect waves-light btn red col s1 delete-command-button" data-for-key="" data-saved="false">
        <i class="material-icons">remove</i>
      </a>
      <a class="waves-effect waves-light btn green col s1 save-command-button" data-for-key="" data-saved="false">
        <i class="material-icons">check</i>
      </a>
    </div>
  </div>
</main>
<script type="text/javascript" src="/assets/js/main.js"></script>
